@charset "utf-8";
@import url('fonts.css');


html * {

	-webkit-text-size-adjust: none;

	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
}


body {
	
	margin: 0;
	padding: 0;
	overflow: hidden;

	background: #141414 url(../gfx/background_page.png);

	font-family: 'MiniSet2';
	color: #fff;
	font-size: 24px;
	text-shadow: 0px 2px 1px rgb(0, 0, 0);

}



#msg {
	font-size: 40px;
	position: absolute;
	white-space: nowrap;
}